In [17]:
import pandas as pd
import datetime
import os

In [18]:
from Name_convention_dictionaries import PsrTypeDict

In [19]:
dateparse = lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')

filename = "Germany__&docType=A65__&rpocessType=A16from2014-12-31_23:00to2015-12-31_23:00.csv"

In [70]:
files_in_dir = os.listdir("./data/")

In [72]:
files_in_dir = os.listdir("./data/")
check_if_loaded = []
list_of_dfs = []

for i in files_in_dir:
    group_files = []
    if i[:-38] not in check_if_loaded:
        for j in files_in_dir:
            if i[:-38] == j[:-38]:
                group_files.append("./data/"+j)
        df = pd.read_csv(group_files[0],parse_dates=['Date'], date_parser=dateparse)
        for k in group_files[1:]:
            df2 = pd.read_csv(k,parse_dates=['Date'], date_parser=dateparse)
            df = pd.concat([df,df2])
        df = df.sort_values(by=["Date"])
        list_of_dfs.append(df)
        check_if_loaded.append(i[:-38])
    
        
    
#     print(i[:-38])
# a[0][:-38]

In [90]:
for i in list_of_dfs:
    print(i.duplicated().any())

False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False

In [74]:
from functools import reduce

In [75]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), list_of_dfs)

In [107]:
df_merged = df_merged.sort_values(by=["Date"]).reset_index()

In [108]:
df_merged.to_csv("Realised_load_and_production.csv",index=False)

In [109]:
df_merged.columns

Index(['index', 'Date', 'Hydro Pumped Storage in MAW', 'Waste in MAW',
       'Geothermal in MAW', 'System total load in MAW',
       'Other renewable in MAW', 'Fossil Hard coal in MAW',
       'Hydro Run-of-river and poundage in MAW', 'Fossil Oil in MAW',
       'Fossil Gas in MAW', 'Fossil Coal-derived gas in MAW',
       'Fossil Brown coal/Lignite in MAW', 'Other in MAW', 'Biomass in MAW',
       'Wind Offshore in MAW', 'Wind Onshore in MAW', 'Solar in MAW',
       'Fossil Peat in MAW', 'Marine in MAW', 'Hydro Water Reservoir in MAW',
       'Fossil Oil shale in MAW', 'Nuclear in MAW'],
      dtype='object')

In [110]:
select = df_merged.loc[:,"System total load in MAW"].isnull()
df_merged.loc[select,["Date","System total load in MAW"]]

                      Date  System total load in MAW
105827 2018-01-07 07:45:00                       NaN
105962 2018-01-08 17:30:00                       NaN
107033 2018-01-19 21:15:00                       NaN
109438 2018-02-13 22:30:00                       NaN
116321 2018-04-26 15:15:00                       NaN
116322 2018-04-26 15:30:00                       NaN
167515 2019-10-11 21:45:00                       NaN

In [111]:
select = "2018-01-07" in df_merged.loc[:,"Date"]
# df_merged.loc[select,["Date","System total load in MAW"]]
select

False

In [112]:
df_merged.iloc[105823:105830,:]

,index,Date,Hydro Pumped Storage in MAW,Waste in MAW,Geothermal in MAW,System total load in MAW,Other renewable in MAW,Fossil Hard coal in MAW,Hydro Run-of-river and poundage in MAW,Fossil Oil in MAW,...,Other in MAW,Biomass in MAW,Wind Offshore in MAW,Wind Onshore in MAW,Solar in MAW,Fossil Peat in MAW,Marine in MAW,Hydro Water Reservoir in MAW,Fossil Oil shale in MAW,Nuclear in MAW
105823,105439,2018-01-07 06:45:00,156.0,334.0,3.0,42452.0,169.0,2545.0,1709.0,188,...,378.0,4864.0,1268.0,15070.0,0.0,NaN,NaN,44,NaN,9070.0
105824,105440,2018-01-07 07:00:00,155.0,328.0,3.0,43719.0,169.0,2744.0,1708.0,188,...,376.0,4877.0,1221.0,15052.0,5.0,NaN,NaN,46,NaN,9192.0
105825,105441,2018-01-07 07:15:00,158.0,317.0,3.0,44180.0,169.0,2754.0,1706.0,188,...,376.0,4895.0,1172.0,15022.0,35.0,NaN,NaN,44,NaN,9215.0
105826,105442,2018-01-07 07:30:00,237.0,307.0,3.0,44892.0,169.0,2760.0,1702.0,188,...,376.0,4903.0,1112.0,15072.0,112.0,NaN,NaN,49,NaN,9255.0
105827,105443,2018-01-07 07:45:00,203.0,321.0,3.0,NaN,169.0,2761.0,1708.0,188,...,376.0,4900.0,1084.0,15131.0,248.0,NaN,NaN,57,NaN,9350.0
105828,105444,2018-01-07 08:00:00,617.0,312.0,3.0,47080.0,169.0,2678.0,1700.0,188,...,377.0,4892.0,1041.0,15097.0,438.0,NaN,NaN,50,NaN,9296.0
105829,105445,2018-01-07 08:15:00,524.0,319.0,3.0,48354.0,169.0,2691.0,1702.0,187,...,378.0,4878.0,1022.0,14916.0,728.0,NaN,NaN,63,NaN,9290.0

In [113]:
select = df_merged.loc[:,"Wind Onshore in MAW"].isnull()
df_merged.loc[select,["Date","Wind Onshore in MAW"]]

                      Date  Wind Onshore in MAW
5664   2015-02-28 23:00:00                  NaN
5665   2015-02-28 23:15:00                  NaN
5666   2015-02-28 23:30:00                  NaN
5667   2015-02-28 23:45:00                  NaN
40746  2016-02-29 09:30:00                  NaN
...                    ...                  ...
68060  2016-12-09 22:00:00                  NaN
68061  2016-12-09 22:15:00                  NaN
68062  2016-12-09 22:30:00                  NaN
68063  2016-12-09 22:45:00                  NaN
199560 2020-09-09 17:00:00                  NaN

[447 rows x 2 columns]

In [114]:
df_merged.iloc[199558:199563,:]

,index,Date,Hydro Pumped Storage in MAW,Waste in MAW,Geothermal in MAW,System total load in MAW,Other renewable in MAW,Fossil Hard coal in MAW,Hydro Run-of-river and poundage in MAW,Fossil Oil in MAW,...,Other in MAW,Biomass in MAW,Wind Offshore in MAW,Wind Onshore in MAW,Solar in MAW,Fossil Peat in MAW,Marine in MAW,Hydro Water Reservoir in MAW,Fossil Oil shale in MAW,Nuclear in MAW
199558,199174,2020-09-09 16:30:00,3343.0,475.0,4.0,59013.0,157.0,5338.0,1852.0,436,...,205.0,4345.0,4714.0,12016.0,2461.0,NaN,NaN,377,NaN,7822.0
199559,199175,2020-09-09 16:45:00,4087.0,479.0,4.0,58860.0,157.0,5359.0,1855.0,436,...,205.0,4357.0,NaN,11672.0,NaN,NaN,NaN,422,NaN,7824.0
199560,199176,2020-09-09 17:00:00,4050.0,472.0,4.0,58626.0,160.0,5526.0,1851.0,436,...,212.0,4355.0,NaN,NaN,841.0,NaN,NaN,283,NaN,7814.0
199561,199177,2020-09-09 17:15:00,4042.0,470.0,4.0,58110.0,164.0,5659.0,1851.0,436,...,220.0,4362.0,4972.0,11371.0,376.0,NaN,NaN,286,NaN,7825.0
199562,199178,2020-09-09 17:30:00,4265.0,476.0,4.0,58084.0,164.0,5672.0,1845.0,436,...,219.0,4363.0,5110.0,11532.0,116.0,NaN,NaN,326,NaN,7827.0